<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fr3ts0n.androbd.plugin.csv" >

    <application android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:allowBackup="true"
                 android:fullBackupContent="@xml/backup_descriptor"
                 android:theme="@style/AppTheme.Dark" >

        <activity android:name=".SettingsActivity" />

        <service
            android:name=".CsvDataLogger"
            android:exported="true">
            <intent-filter>
                <action android:name="com.fr3ts0n.androbd.plugin.IDENTIFY" />
                <category android:name="com.fr3ts0n.androbd.plugin.REQUEST" />
            </intent-filter>
        </service>

        <receiver android:name=".CsvLoggerReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="com.fr3ts0n.androbd.plugin.IDENTIFY" />
                <category android:name="com.fr3ts0n.androbd.plugin.REQUEST" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="com.fr3ts0n.androbd.plugin.csv.provider"
            android:name=".CsvProvider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>
    </application>
</manifest>
